.img-container img{ max-width:100%; height:auto;}
p.customtop {  margin-top: 118px; };
h2 {text-align: center;}

h2.headertekst {
    text-align: center;
  }
  body {
    background-color: #f4f6fb;
   
  }
  .card {
background-color: #f4f6fb;
  }
  p.custombottom {  margin-bottom: 50px; };